<h1>New product</h1>
<form action="/products" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<table>
		<tr>
			<td>Category:</td>
			<td class="field">
				<select name="category_id">
					<option value="0">Pick category</option>
					<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td class="field">
				<input type="text" name="name">
			</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td class="field">
				<input type="text" name="description">
			</td>
		</tr>
		<tr>
			<td>Price:</td>
			<td class="field">
				$ <input type="number" name="price" value="0.00" step="0.01">
			</td>
		</tr>
	</table>
	<input type="submit" value="Create">
</form>
<a href="/products">Back</a>